[submodule "socrata_python"]
	path = socrata_python
    # commenting private and using public url for submodule for travis-ci
	#url = git@github.com:codeforamerica/socrata-python.git
	url = git://github.com/codeforamerica/socrata-python.git
